<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <jmxConfiguration />

    <property resource="application.properties" />
    <property resource="application.${ENV}.properties" />

    <!-- user home properties loading may not work, you will need to specify -Dapplication.name=... -->
    <property resource="${user.home}/${application.name}/application.properties" />
    <property resource="${user.home}/${application.name}/application.${ENV}.properties" />

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/${application.name}/logs/log.${ENV}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${user.home}/${application.name}/logs/log.${ENV}.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
        </rollingPolicy>

        <encoder>
            <pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>

    </appender>

    <appender name="stash" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <file>${user.home}/${application.name}/logs/stash.${ENV}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${user.home}/${application.name}/logs/stash.${ENV}.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <logger name="com.unidev" level="${log.level.unidev:-INFO}" />

    <root level="${log.level.root:-INFO}">
        <appender-ref ref="file" />
        <appender-ref ref="stash" />
    </root>



</configuration>
